<mat-sidenav-container>
    <mat-sidenav #sidenavcmd mode="side" position="end" opened="false" class="map-sidenav" [style.width]="sideNavWidth">
        <fluke-command-viewer></fluke-command-viewer>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav #sidenavfile mode="side" position="end" opened="false" class="map-sidenav"
                [style.width]="sideNavWidth">
                <fluke-file-explorer-viewer></fluke-file-explorer-viewer>
            </mat-sidenav>

            <mat-sidenav-content>
                <mat-sidenav-container>
                    <mat-sidenav #sidenavtree mode="side" position="end" opened="false" class="map-sidenav"
                        [style.width]="sideNavWidth">
                        <fluke-layer-viewer></fluke-layer-viewer>
                    </mat-sidenav>

                    <mat-sidenav-content>
                        <mat-toolbar class="map-footer">

                            <mat-menu #picker="matMenu" [hasBackdrop]="false" (click)="$event.stopPropagation();"
                                class="picker">
                                <mat-card class="picker">
                                    <mat-slide-toggle color="primary" checked="false" [(ngModel)]="togglePickPos"
                                        (click)="$event.stopPropagation();">
                                        {{togglePickPos?'Picker(place marker)':'Picker(marker disabled)'}}
                                    </mat-slide-toggle>
                                    <fluke-layer-editor-marker></fluke-layer-editor-marker>
                                </mat-card>
                            </mat-menu>

                            <mat-menu #windowResizer="matMenu" [hasBackdrop]="false" (click)="$event.stopPropagation();"
                                class="windowResizer">
                                <mat-slider invert min="10" max="40" step="1" [(ngModel)]="sliderVal"
                                    (change)='_sideNavWidthChange()' (click)="$event.stopPropagation();"
                                    class="windowResizerSlider">
                                </mat-slider>
                            </mat-menu>

                            <mat-menu #backendConnector="matMenu" [hasBackdrop]="false"
                                (click)="$event.stopPropagation();" class="backendConnector">
                                <fluke-backend-connector-viewer></fluke-backend-connector-viewer>
                            </mat-menu>

                            <mat-button-toggle multiple color="primary">

                                <mat-button-toggle [matMenuTriggerFor]="picker" matTooltip="Show position picker">
                                    <mat-icon>room</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle [matMenuTriggerFor]="windowResizer" matTooltip="Resize side window">
                                    <mat-icon>settings_ethernet</mat-icon>
                                </mat-button-toggle>

                                <mat-button-toggle (change)="sidenavtree.toggle()" matTooltip="Show layer list">
                                    Layers
                                </mat-button-toggle>
                                <mat-button-toggle (change)="sidenavfile.toggle()"
                                    matTooltip="Show GeoJson files in the server">
                                    File explorer
                                </mat-button-toggle>
                                <mat-button-toggle (change)="sidenavcmd.toggle()" matTooltip="Show command window">
                                    Commands
                                </mat-button-toggle>
                                <mat-button-toggle [matMenuTriggerFor]="backendConnector"
                                    matTooltip="Set backend server connection">
                                    <mat-icon [color]="backend.isSocketReady?'primary':'warn'">dynamic_form
                                    </mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle>

                        </mat-toolbar>

                        <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers.visible"
                            (leafletMapReady)="onMapReady($event)" (leafletClick)="onMapClick($event)">
                        </div>
                    </mat-sidenav-content>
                </mat-sidenav-container>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>